<section class="ezy__contact14 dark" id="ezy__contact14">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center text-sm-start">
				<h2 class="ezy__contact14-heading mb-0">Stay In Touch</h2>
				<p class="ezy__contact14-sub-heading ms-sm-4">Have any question? Drop us a message.</p>
			</div>
		</div>
		<div class="row">
			<address class="col-12 col-md-5 mt-5">
				<div class="">
					<div class="ezy__contact14-contact d-flex align-items-center">
						<div class="ezy__contact14-contact-icon">
							<i class="fa fa-home"></i>
						</div>
						<div class="ezy__contact14-contact-details">
                            <h4>Ecliptex Limited</h4>
							<p class="mb-0">73, Malyon close, Braintree</p>
							<p class="mb-0">CM72QZ. United Kingdom</p>
						</div>
					</div>
					<div class="ezy__contact14-contact d-flex align-items-center">
						<div class="ezy__contact14-contact-icon">
							<i class="fa fa-phone"></i>
						</div>
						<div class="ezy__contact14-contact-details">
							<a href="callto:+8801737662662">+44 7378470359</a><br />
						</div>
					</div>
                    <div class="ezy__contact14-contact d-flex align-items-center">
						<div class="ezy__contact14-contact-icon">
							<i class="fa-brands fa-whatsapp"></i>
						</div>
						<div class="ezy__contact14-contact-details">
							<a href="callto:+8801771299299">+44 7378470359</a>
						</div>
					</div>
					<div class="ezy__contact14-contact d-flex align-items-center">
						<div class="ezy__contact14-contact-icon">
							<i class="fa fa-envelope-open-text"></i>
						</div>
						<div class="ezy__contact14-contact-details">
							<a href="mailto:deepa@ecliptex.co.uk">deepa&#64;ecliptex.co.uk</a><br />
                            <a href="mailto:lee.mayo@ecliptex.co.uk">lee.mayo&#64;ecliptex.co.uk</a>
						</div>
					</div>
				</div>
			</address>
			<div class="col-12 col-md-7 mt-5">
				<form id="contact-form" method="post" class="dark-background single-form">
					<div class="row">
						<div class="col-12 col-sm-6 mb-4">
							<div class="form-group">
								<input name="name" class="form-control px-0" type="text" required=""
									placeholder="Enter Your Name" />
							</div>
						</div>
						<div class="col-12 col-sm-6 mb-4">
							<div class="form-group">
								<input name="email" class="form-control px-0" type="email" required=""
									placeholder="Enter Your Email" />
							</div>
						</div>

						<div class="col-12 col-sm-6 mb-4">
							<div class="form-group">
								<input name="company-name" class="form-control px-0" type="text"
									placeholder="Company Name" />
							</div>
						</div>

						<div class="col-12 col-sm-6 mb-4">
							<div class="form-group">
								<input name="subject" class="form-control px-0" type="text" required=""
									placeholder="Subject" />
							</div>
						</div>

						<div class="col-12 mb-4">
							<div class="form-group">
								<textarea class="form-control px-0" id="contact-message" rows="3"
									placeholder="Enter Your Message"></textarea>
							</div>
						</div>

						<div class="mt-4 text-end text-md-start">
							<button class="btn btn-outline-light">
								GET IN TOUCH <i class="fas fa-angle-right ms-1"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
