<section style="background-color: rgb(42, 41, 41);">
  <div class="container" *ngIf="selectedProduct[0]">
    <div class="detailsContainer">
      <div class="header">
        <h2>{{selectedProduct[0].title}}</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="leftList row">
              <li class="col-lg-4 col-sm-12" *ngFor="let item of selectedProduct[0].details">
                <div class="column details">
                  <div class="">
                    <img class="image" src="{{item.imageUrl}}" alt="">
                  </div>
                  <div class="">
                    <div>
                      <div class="title">
                        <h2>{{item.name}}</h2>
                      </div>    
                      <div class="description">
                        {{item.description}}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
