.sliderBottomBanner{
  background-color: #000;
  // min-height: 30vh;
}
.aboutHome{
  .header{
    margin: 40px 10px;
    h2{
      text-align: center;
    }
  }
}
.parallax {
  background-image: url('../../../assets/images/slide1.jpg');
  // height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ezy__blog16 {

  /* Bootstrap variables */
  background-color: transparent;
  --bs-body-color: #fff;
  --bs-body-bg: transparent;

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-card-bg: #ffffff;
  --ezy-card-box-shadow: 0px 6px 44px rgba(173, 174, 197, 0.2);

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow: hidden;
  padding: 60px 0;
}

@media (min-width: 768px) {
  .ezy__blog16 {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .ezy__blog16,
.ezy__blog16.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__blog16,
.ezy__blog16.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-card-bg: rgb(30, 39, 53);
  --ezy-card-box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
}

/* Dark Block Style */
.dark .ezy__blog16,
.ezy__blog16.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-card-bg: rgb(30, 39, 53);
  --ezy-card-box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
}

.ezy__blog16-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 1.2;
  color: var(--bs-body-color);
}
@media (min-width: 768px) {
  .ezy__blog16-heading {
    font-size: 50px;
  }
}

.ezy__blog16-sub-heading {
  font-size: 18px;
  line-height: 1.7;
  opacity: 0.8 !important;
}

.ezy__blog16-card {
  // background-color: var(--ezy-card-bg);
  // box-shadow: var(--ezy-card-box-shadow);
  transition: 0.5s;
  border-radius: 10px;
}
.ezy__blog16-card img {
  border-radius: 10px;
}

.ezy__blog16-btn {
  color: #fff;
  background-color: var(--ezy-theme-color);
  transition: 0.5s;
  padding: 10px 25px;
}
.ezy__blog16-btn:hover {
  color: #fff;
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  transition: 0.5s;
}


.ezy__blog16 p {
  opacity: 0.65;
}

.ezy__blog15 {
  /* Bootstrap variables */
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-play-btn-bg-rgb: 255, 255, 255;
  --ezy-card-bg: rgb(246, 246, 246);

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow: hidden;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .ezy__blog15 {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .ezy__blog15,
.ezy__blog15.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);

  /* Easy Frontend variables */
  --ezy-card-bg: #ffffff;
}

/* Dark Gray Block Style */
.dark-gray .ezy__blog15,
.ezy__blog15.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-card-bg: rgb(11, 23, 39);
}

/* Dark Block Style */
.dark .ezy__blog15,
.ezy__blog15.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-card-bg: rgb(30, 39, 53);
}

.ezy__blog15-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

@media (min-width: 768px) {
  .ezy__blog15-heading {
    font-size: 45px;
  }
}

.ezy__blog15-sub-heading {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.8;
}

/* card */
.ezy__blog15 .card {
  background-color: transparent;
  border: 0;
  border-radius: 10px;
  overflow: hidden;
}

.ezy__blog15 .card a:hover {
  color: var(--ezy-theme-color);
  cursor: pointer;
}

.ezy__blog15 .card .btn {
  text-decoration: none;
  color: var(--bs-body-color);
  border-color: var(--ezy-theme-color);
  cursor: pointer;
}

.ezy__blog15 .card .btn:hover {
  color: #fff;
  border-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
}

.ezy__blog15 .card-text {
  color: var(--bs-body-color);
  font-size: 15px;
  opacity: 0.8;
}

.ezy__blog15 .card-title {
  color: var(--bs-body-color);
  font-size: 19px;
  font-weight: 500;
  line-height: 1.3;
}

.ezy__blog15 .card-title:hover {
  color: var(--ezy-theme-color);
}

.ezy__blog15 .card h4 {
  color: var(--bs-body-color);
  font-size: 16px;
}

/* play btn */
.ezy__blog15-play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(var(--ezy-play-btn-bg-rgb), 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.ezy__blog15-play-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(var(--ezy-play-btn-bg-rgb), 0.2);
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

/* prev and next btn */
.ezy__blog15 .carousel-control-prev,
.ezy__blog15 .carousel-control-next {
  width: 50px;
  height: 50px;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: 0.4s;
}

.ezy__blog15 .carousel-control-prev:hover,
.ezy__blog15 .carousel-control-next:hover {
  background-color: rgba(var(--ezy-theme-color-rgb), 1);
  color: #fff;
}

@media (min-width: 576px) {
  .ezy__blog15 .carousel-control-prev {
    left: -10px;
  }

  .ezy__blog15 .carousel-control-next {
    right: -10px;
  }
}

.ezy__blog15 a {
  text-decoration: none;
}

.card-container{
  margin: 6vh 2vh;
  // border: 1px solid #fff;
  .card{
    background-color: transparent;
    color: #fff;
    border: none;
    box-shadow: none;
    .icon{
      max-height: 10vh;
    }
    .query{
      text-align: center;
      // border: 2px solid #fff;
      padding: 10px;
      border-radius: 10px;
      margin: 3vh 0px;
    }
  }
}
.caption{
  text-align: justify;
}
.img-container{
  text-align: center;
}

.card-body{
  min-height: 70vh;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}