<ng-container >
  <div>
    <app-slider></app-slider>
  </div>
  <div class="sliderBottomBanner row">
    <div class="col-lg-4 col-sm-10">
      <div class="card-container">
        <div class="card">
          <div class="row">
            <div class="col-lg-4 col-sm-4 img-container">
              <img class="icon" src="../../../assets/images/quality.png" alt="">
            </div>
            <div class="col-lg-8">
              <div class="header">
                <h2>Quality</h2>
              </div>
              <div class="caption">
                Our product line with unparalleled quality is in accordance with clients requirements and conforms to global standards
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-10">
      <div class="card-container">
        <div class="card">
          <div class="row">
            <div class="col-lg-4 col-sm-4 img-container">
              <img class="icon" src="../../../assets/images/user.png" alt="">
            </div>
            <div class="col-lg-8">
              <div class="header">
                <h2>Why us</h2>
              </div>
              <div class="caption">
                Hi-Tech standards, service reliability and commitment to excellence make us a leader in export & import business
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-10">
      <div class="card-container">
        <div class="card">
          <div class="row">
            <div class="col-lg-4 col-sm-4 img-container">
              <img class="icon" src="../../../assets/images/query.png" alt="">
            </div>
            <div class="col-lg-8">
              <div class="header">
              </div>
              <div>
                <div class="query">
                  <button class="btn btn-light">Click for Enquiry </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="aboutHome container-xxl">
    <div class="header">
      <h2>About Company</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <img style="width: 100%;" src="../../../assets/images/aboutHome.jpg" alt="">
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12" style="text-align: justify;">
        <h4>
          Ecliptex Trade Limited, founded in 2024, bridges the gap between farm-fresh produce and restaurant kitchens by providing high-quality, pre-cut vegetables and custom salad boxes to save prep time and enhance culinary efficiency
        </h4>
        <div>
          <p>
            Ecliptex Trade Limited was born out of a simple yet powerful idea: to bridge the gap between farm-fresh produce and busy restaurant kitchens. Founded in 2024, our company has grown to a trusted name in the food service industry. Our journey began when Maria, a former chef, noticed the time and labour-intensive process of preparing vegetables in restaurant kitchens. She envisioned a service that could provide pre-cut, ready-to-use vegetables, allowing chefs to focus on creating culinary masterpieces rather than spending hours on prep work. John, with his background in supply chain management, saw the potential to streamline the process from wholesale markets to restaurant doors. A company dedicated to providing high-quality, freshly cut vegetables and custom salad boxes to restaurants of all sizes and cuisines.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="parallax">
      <div class="overlay">
        <section class="ezy__blog16">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-12 col-md-10 col-lg-6">
                <h2 class="ezy__blog16-heading mb-4">Our Products</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="card border-0 ezy__blog16-card mt-5">
                  <div class="card-body text-center p-3">
                    <div>
                      <img src="../../../assets/images/figs.jpeg" alt="" class="img-fluid" />
                    </div>
                    <h5 class="mt-4 mb-3 fw-bold">Dry fruits Figs</h5>
                    <p class="px-lg-4 caption">
                      Figs are the fruit of the ficus tree, which is part of the mulberry family.Figs have a unique, sweet taste,soft and chewy texture.
                    </p>
                    <button class="btn btn-secondary">View</button>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-4">
                <div class="card border-0 ezy__blog16-card mt-5">
                  <div class="card-body text-center p-3">
                    <div>
                      <img src="../../../assets/images/wood.jpeg" alt="" class="img-fluid rounded" />
                    </div>
                    <h5 class="mt-4 mb-3 fw-bold">Handicrafts</h5>
                    <p class="px-lg-4 caption">
                      This is a factor in the economy of a nation, and the administration takes the major choices.
                    </p>
                    <button class="btn btn-secondary">View</button>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-4">
                <div class="card border-0 ezy__blog16-card mt-5">
                  <div class="card-body text-center p-3">
                    <div>
                      <img src="../../../assets/images/fruits.jpeg" alt="" class="img-fluid rounded" />
                    </div>
                    <h5 class="mt-4 mb-3 fw-bold">Fresh Fruits</h5>
                    <p class="px-lg-4 caption">
                      This is a factor in the economy of a nation, and the administration takes the major choices.
                    </p>
                    <button class="btn btn-secondary">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <section class="ezy__blog15 light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <h3 class="ezy__blog15-heading">Gallery</h3>
          </div>
          <div id="ezy__blog15-controls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <!-- card starts -->
                  <div class="col-12 col-lg-4 mt-4">
                    <div class="card">
                      <div class="position-relative">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/courses/courses_1_1.png"
                          class="card-img-top"
                          alt="..."
                        />
                      </div>
                    </div>
                  </div>
                  <!-- card ends -->
                  <!-- card starts -->
                  <div class="col-12 col-lg-4 mt-4">
                    <div class="card">
                      <div class="position-relative">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/courses/courses_1_2.png"
                          class="card-img-top"
                          alt="..."
                        />
                      </div>
                    </div>
                  </div>
                  <!-- card ends -->
                  <!-- card starts -->
                  <div class="col-12 col-lg-4 mt-4">
                    <div class="card">
                      <div class="position-relative">
                        <div class="ezy__blog15-play-btn"><i class="fas fa-play ms-1"></i></div>
                        <img
                          src="https://cdn.easyfrontend.com/pictures/courses/courses_1_3.png"
                          class="card-img-top"
                          alt="..."
                        />
                      </div>
                    </div>
                  </div>
                  <!-- card ends -->
                </div>
              </div>

              <div class="carousel-item">
                <div class="row">
                  <!-- card starts -->
                  <div class="col-12 col-lg-4 mt-4">
                    <div class="card">
                      <div class="position-relative">
                        <div class="ezy__blog15-play-btn"><i class="fas fa-play ms-1"></i></div>
                        <img
                          src="https://cdn.easyfrontend.com/pictures/courses/courses_1_3.png"
                          class="card-img-top"
                          alt="..."
                        />
                      </div>
                    </div>
                  </div>
                  <!-- card ends -->
                  <!-- card starts -->
                  <div class="col-12 col-lg-4 mt-4">
                    <div class="card">
                      <div class="position-relative">
                        <div class="ezy__blog15-play-btn"><i class="fas fa-play ms-1"></i></div>
                        <img
                          src="https://cdn.easyfrontend.com/pictures/courses/courses_1_1.png"
                          class="card-img-top"
                          alt="..."
                        />
                      </div>
                    </div>
                  </div>
                  <!-- card ends -->
                  <!-- card starts -->
                  <div class="col-12 col-lg-4 mt-4">
                    <div class="card">
                      <div class="position-relative">
                        <div class="ezy__blog15-play-btn"><i class="fas fa-play ms-1"></i></div>
                        <img
                          src="https://cdn.easyfrontend.com/pictures/courses/courses_1_2.png"
                          class="card-img-top"
                          alt="..."
                        />
                      </div>
                    </div>
                  </div>
                  <!-- card ends -->
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#ezy__blog15-controls"
              data-bs-slide="prev"
            >
              <i class="fas fa-angle-left"></i>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#ezy__blog15-controls"
              data-bs-slide="next"
            >
              <i class="fas fa-angle-right"></i>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</ng-container>
