<section class="ezy__contact14 dark" id="ezy__contact14">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-sm-start">
        <h2 class="ezy__contact14-heading mb-0">Enquire Now</h2>
        <p class="ezy__contact14-sub-heading ms-sm-4">Have any question? Drop us a message.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 mt-5">
        <form #contactFormRef="ngForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="dark-background single-form">
          <div class="row">
            <div class="col-12 col-sm-6 mb-4">
              <div class="form-group">
                <input formControlName="name" class="form-control px-0" type="text" placeholder="Enter Your Name" />
              </div>
            </div>
            <div class="col-12 col-sm-6 mb-4">
              <div class="form-group">
                <input formControlName="email" class="form-control px-0" type="email" placeholder="Enter Your Email" />
              </div>
            </div>
            <div class="col-12 col-sm-6 mb-4">
              <div class="form-group">
                <input formControlName="contact" class="form-control px-0" type="text" placeholder="Enter Your Contact Number" />
              </div>
            </div>
            <div class="col-12 col-sm-6 mb-4">
              <div class="form-group">
                <input formControlName="subject" class="form-control px-0" type="text" placeholder="Subject" />
              </div>
            </div>
            <div class="col-12 mb-4">
              <div class="form-group">
                <textarea formControlName="address" class="form-control px-0" rows="3" placeholder="Enter Your Address"></textarea>
              </div>
            </div>
            <div class="col-12 mb-4">
              <div class="form-group">
                <label for="product">Select Product</label>
                <select formControlName="product" class="form-control px-0">
                  <option value="" disabled selected>Select Product</option>
                  <option *ngFor="let item of list" [value]="item.id">{{ item.name }}</option>
                </select>
              </div>
            </div>
            <!-- <div class="col-12 mb-4">
              <div class="form-group">
                <label for="coverLetter">Attach Cover Letter</label>
                <input type="file" id="coverLetter" (change)="onFileChange($event, 'coverLetter')" class="form-control px-0">
              </div>
            </div>
            <div class="col-12 mb-4">
              <div class="form-group">
                <label for="orderDocument">Attach Order Document</label>
                <input type="file" id="orderDocument" (change)="onFileChange($event, 'orderDocument')" class="form-control px-0">
              </div>
            </div> -->
            <div class="col-12 mb-4">
              <div class="form-group">
                <textarea formControlName="message" class="form-control px-0" rows="3" placeholder="Enter Your Message"></textarea>
              </div>
            </div>
            <div *ngIf="emailSent" class="alert alert-primary" role="alert">
              Email sent successfully!
            </div>
            <div class="mt-4 text-end text-md-start">
              <button class="btn btn-outline-light" type="submit">
                Submit Product Enquiry <i class="fas fa-angle-right ms-1"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
