
.preNav{
  // height: 40px;
  padding: 10px;
  line-height: 40px;
  padding-bottom: 2px;
  color: aliceblue;
  background-color:#565656 !important;
  a{
    color: aliceblue;
    text-decoration: none;
  }
}
.navbar, .container{
  margin: 0px !important;
  padding: 0px;
  background-color: #0c0f16 !important;
  a:hover{
    color: rgb(182, 155, 1);
    background-color: transparent;
  }
}
.logo{
  max-height: 90px;
}
.dropdown-item{
  cursor: pointer;
  color: #fff;
}
