<div class="preNav">
  <div class="row" style="margin: 0px 5px;">
    <div style="text-align: right;">
      <i class="fa-brands fa-whatsapp"></i> &nbsp;
      +44 7378470359
      ||
      <i class="fa fa-envelope-open-text"></i> &nbsp;
      <a href="mailto:deepa@ecliptex.co.uk">deepa&#64;ecliptex.co.uk</a> 
      &nbsp;&nbsp;
      <a href="mailto:deepa@ecliptex.co.uk">deepa&#64;ecliptex.co.uk</a>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo" src="../../../../assets/images/logo_transparent.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ng-container *ngFor="let item of list">
              <a class="dropdown-item" (click)="gotoSpices(item)">{{item.name}}</a>
            </ng-container>
            <!-- <div class="dropdown-divider"></div> -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/enquiry">Product Enquiry</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
