<div class="preNav">
  <div class="row" style="margin: 0px 5px;">
    <div style="text-align: right;">
      <i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;
      <span>
        <b>Ecliptex Limited</b>
        73, Malyon close, Braintree
        CM72QZ. United Kingdom</span>&nbsp;||
      <i class="fa-brands fa-whatsapp"></i> &nbsp;
      <a href="https://wa.me/447378470359" target="_blank">+44 7378470359</a>
      ||
      <i class="fa fa-envelope-open-text"></i>&nbsp;
      <a href="mailto:deepa@ecliptex.co.uk">deepa&#64;ecliptex.co.uk</a>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo" src="../../../../assets/images/new-logo.jpeg" alt="">
    </a>
    <span style="color: #dab33e;font-size:1.2rem;font-weight: bold;">
      ECLIPTEX LMITED
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <!-- Adding routerLink for Home and routerLinkActive for active class -->
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ng-container *ngFor="let item of list">
              <!-- Adding (click) event for navigating to specific product -->
              <a class="dropdown-item" (click)="gotoSpices(item)">{{item.name}}</a>
            </ng-container>
          </div>
        </li>
        <li class="nav-item">
          <!-- Adding routerLink for About Us -->
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <!-- Adding routerLink for Contact Us -->
          <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact Us</a>
        </li>
        <li class="nav-item">
          <!-- Adding routerLink for Product Enquiry -->
          <a class="nav-link" [routerLink]="['/enquiry']" routerLinkActive="active">Product Enquiry</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
